button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  padding: 0 1rem;
  border-radius: 0.625rem;

  &-amount {
    background: none;
    color: $Orange;
    transition: 0.15s;

    @include desktop {
      &:hover {
        color: mix($Orange, white, 50%);
      }
    }

    &:active {
      color: mix($Orange, white, 50%);
    }
  }

  &-primary {
    background: $Orange;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.875rem;

    &.shadow {
      box-shadow: 0 1.5rem 2rem -1.25rem rgba($Orange, 0.5),
        0 1.5rem 2rem -0.5rem $Pale-orange;
      transition: 0.15s;
    }

    @include desktop {
      &:hover {
        background: mix($Orange, white, 50%);
      }
    }

    &:active {
      background: mix($Orange, white, 50%);
    }
  }
}
