.gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 375px;

  @include mobile {
    height: 300px;
    min-width: unset;
    width: 100vw;
  }

  img {
    width: 100%;

    @include mobile {
      height: 100%;
      object-fit: cover;
    }
  }

  &-img {
    position: relative;

    @include mobile {
      height: 100%;
    }

    img {
      border-radius: 1rem;

      @include mobile {
        pointer-events: none;
        border-radius: unset;
      }
    }

    &-product {
      img {
        cursor: pointer;
      }

      .btn-slide {
        display: none !important;

        @include mobile {
          display: flex !important;
        }
      }
    }

    .btn-slide {
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 3.625rem;
      height: 3.625rem;
      font-size: 1.125rem;
      color: $Very-dark-blue;

      @include mobile {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 0.875rem;
      }

      &:hover {
        color: $Orange;
      }

      &-prev {
        left: 0;
        transform: translate(-50%, -50%);

        @include mobile {
          left: 1rem;
          transform: translate(0, -50%);
        }
      }

      &-next {
        right: 0;
        transform: translate(50%, -50%);

        @include mobile {
          right: 1rem;
          transform: translate(0, -50%);
        }
      }
    }
  }

  &-thumbs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @include mobile {
      display: none;
    }

    .thumb {
      border-radius: 0.625rem;
      overflow: hidden;
      background: white;
      cursor: pointer;

      &:hover {
        img {
          opacity: 0.5;
        }
      }

      &.active {
        box-shadow: 0 0 0 0.125rem $Orange;
        pointer-events: none;

        img {
          opacity: 0.2;
        }
      }
    }
  }
}
