.gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  // min-width: 445px;

  img {
    width: 100%;
  }

  &-img {
    img {
      border-radius: 1rem;
    }
  }

  &-thumbs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .thumb {
      border-radius: 0.625rem;
      overflow: hidden;
      background: white;

      &.active {
        box-shadow: 0 0 0 0.125rem $Orange;

        img {
          opacity: 0.2;
        }
      }
    }
  }
}
