.gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  // min-width: 445px;
  min-width: 375px;

  img {
    width: 100%;
  }

  &-img {
    position: relative;

    img {
      border-radius: 1rem;
    }

    &-product {
      img {
        cursor: pointer;
      }
    }

    .btn-slide {
      position: absolute;
      top: 50%;

      &:hover {
        color: $Orange;
      }

      &-prev {
        left: 0;
        transform: translate(-50%, -50%);
      }

      &-next {
        right: 0;
        transform: translate(50%, -50%);
      }
    }
  }

  &-thumbs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .thumb {
      border-radius: 0.625rem;
      overflow: hidden;
      background: white;
      cursor: pointer;

      &:hover {
        img {
          opacity: 0.5;
        }
      }

      &.active {
        box-shadow: 0 0 0 0.125rem $Orange;
        pointer-events: none;

        img {
          opacity: 0.2;
        }
      }
    }
  }
}
