@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  font-family: "Kumbh Sans", sans-serif;
  color: $Very-dark-blue;
}

h1 {
  font-size: 2.75rem;
  text-transform: capitalize;
  line-height: 1.1;

  @include mobile {
    font-size: 1.75rem;
    line-height: 1.2;
  }
}

h2 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: $Orange;

  @include mobile {
    font-size: 0.75rem;
    letter-spacing: 0.14em;
  }
}

p {
  color: $Dark-grayish-blue;
  letter-spacing: 0.004em;
  line-height: 1.625em;
}
